urxvt.transparent:  true
urxvt.shading:      20
urxvt.scrollBar:    false
urxvt.saveLines:    10000

!color
urxvt.background:[90]#0a0a0a
urxvt.foreground:#ffffff
urxvt.colorBD:#888800
urxvt.colorIT:#008800
urxvt.colorUL:#ffaa00
urxvt.underlineColor:#cccc00
urxvt.highlightColor:#555555
urxvt.highlightTextColor:#000000
urxvt.cursorColor:#aaaa00
urxvt.fading:20
!urxvt.fadeColor:black
urxvt.scrollColor:#666666
!urxvt.troughColor: #ffffff
!urxvt.borderColor: #000000

urxvt.perl-ext-common:  resize-font
urxvt.iso14755:         false
urxvt.iso14755_52:      false

urxvt.font:   xft:Monospace:size=12
urxvt.boldFont: false
urxvt.letterSpace :0
